<div class="col-lg-12">
                  <div class="card">
                    <div class="card-header"><i class="fa fa-align-justify"></i> File Manager</div>
                    <div class="card-body">
                      <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Date/Hour</th>
                            <th>File name</th>
                            <th>Error Status</th>
                            <th>Processing Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2012/01/01</td>
                            <td>sdfd.xls</td>
                            <td><span class="badge badge-secondary">N/A</span></td>
                            <td><span class="badge badge-warning">Processing...</span></td>
                            <td><button class="btn btn-small btn-info">View</button></td>
                          </tr>
                        </tbody>
                      </table>
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
